.entry{
    @include centeredFlexColumn;
    margin-top: 300px;
    padding: 40px;
    .btn1{
        @include button;
    }
    div{
        margin: 20px;
        padding: 20px;
        @include textStyle;
    } 
    h1{
        font-weight: bold 700;
        font-size: 3.2em;
    }
      
}