.contentBlock{
    @include centeredFlexColumn;
    @include textStyle;
    margin-top: 150px;
}

.contentBlock-Head{
    font-size: 40px;
    padding: 50px;
}


.contentBlock-All-Info{

    @include centeredFlexRow;
    margin: 0px 80px;


    
}

.contentBlock-Img-Info{
    @include centeredFlexRow;
    flex-wrap: wrap;
    width: 90%;


    

    div{
        padding: 20px;  
        text-align: center;
    }
    div:nth-of-type(1){
        flex: 1;
    }
    div:nth-of-type(2){
        flex: 5;
    }
    .zdj{

        background-color: blanchedalmond;

    }
 

}
.icon-music{
    font-size: 60px;
}
.icon-desktop{
    font-size: 60px;
}

@media (max-width: 800px){
    .contentBlock-Img-Info{
        @include centeredFlexColumn;
        width: 100%;

        padding: 0;
        div{
            padding: 20px 0px;
        }

    }
    .zdj {
        display: none;
    }
}

