
.header{
    @include spaceBewtweenFlexRow;
    @include textStyle;
    font-size: 18px;
    ul{
        @include spaceBewtweenFlexRow;
        li{
            padding: 30px;         
        }
    }
    .logo{
        padding:30px;
        font-size: 30px;
    }
    a{
        color: $color2;     
    } 
}

@media (max-width: 800px){
    ul li{
        display: none;
    }
}