


.header{
    @include spaceBewtweenFlexRow;
    @include textStyle;
    ul{
        @include spaceBewtweenFlexRow;
        li{
            padding: 30px;
            
        }
    }
    .logo{
        padding:30px;
    }
    a{
        color: $color2;
    } 
}