.contentBlock{
    @include centeredFlexColumn;
    @include textStyle;
    margin-top: 150px;
}

.contentBlock-Head{
    font-size: 30px;
    padding: 50px;

}


.contentBlock-All-Info{

    @include centeredFlexRow;
    margin: 30px 50px;
    width: 70%;
    div{
        line-height: 1.7;
    }  
    
    .contentBlock-Text-Info{
        .info{
            font-size: 18px;
            text-decoration: underline;
        }
        
        p{
            text-align: justify;
        }
        p:nth-of-type(2){
            margin-top: 30px
        }


        
    }

}

.contentBlock-Img-Info{
    @include centeredFlexRow;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 40px;
    margin-top: 20px;
    div{
        padding: 20px;  
        text-align: center;
        font-size: 16px;
    }
    div:nth-of-type(1){
        flex: 1;
    }
    div:nth-of-type(2){
        flex: 5;
    }
}

.icon-music{
    font-size: 60px;
}
.icon-desktop{
    font-size: 60px;
}

@media (max-width: 800px){
    .contentBlock-Img-Info{
        @include centeredFlexColumn;
        width: 100%;

        padding: 0;
        div{
            padding: 20px 0px;
        }

    }
    .zdj {
        display: none;
    }
}

